<div style="text-align:center">
  <h1>
    Welcome to ToDo
  </h1>
</div>

<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>

<div border-style="dotted" border="2px">
  <ul>
    <li>First: {{first}}</li>
    <li>Last: {{last}}</li>
    <li>Email: {{email}}</li>
    <li>Provider: {{provider}}</li>
    <li>Role: {{role}}</li>
  </ul>
</div>

<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" placeholder="new todo item" autofocus="" [(ngModel)]="newTodo.name" (keyup.enter)="onAddTodo()">
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.isComplete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="onToggleTodoComplete(todo)" [checked]="todo.isComplete">
          <label>{{todo.name}}</label>
          <button (click)="onRemoveTodo(todo)">DELETE</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>